<h1>Bulk Discount <%=@bulk_discount.id%> Show Page</h1>
  <div id = "discount_<%=@bulk_discount.id%>">
    <p>Discount: <%= @bulk_discount.discount %>%</p>
    <p>Threshold: <%= @bulk_discount.threshold %> items</p>
  </div>