---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/cece-132/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49e146066c98e631255c8e5e0264b944c1dfafd5bb838bf5c96c6320c43fee9f"
      Last-Modified:
      - Mon, 12 Sep 2022 23:07:47 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1663789923'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"cballrun","id":106977961,"node_id":"U_kgDOBmBaqQ","avatar_url":"https://avatars.githubusercontent.com/u/106977961?v=4","gravatar_id":"","url":"https://api.github.com/users/cballrun","html_url":"https://github.com/cballrun","followers_url":"https://api.github.com/users/cballrun/followers","following_url":"https://api.github.com/users/cballrun/following{/other_user}","gists_url":"https://api.github.com/users/cballrun/gists{/gist_id}","starred_url":"https://api.github.com/users/cballrun/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cballrun/subscriptions","organizations_url":"https://api.github.com/users/cballrun/orgs","repos_url":"https://api.github.com/users/cballrun/repos","events_url":"https://api.github.com/users/cballrun/events{/privacy}","received_events_url":"https://api.github.com/users/cballrun/received_events","type":"User","site_admin":false,"contributions":73},{"login":"cece-132","id":100653933,"node_id":"U_kgDOBf_bbQ","avatar_url":"https://avatars.githubusercontent.com/u/100653933?v=4","gravatar_id":"","url":"https://api.github.com/users/cece-132","html_url":"https://github.com/cece-132","followers_url":"https://api.github.com/users/cece-132/followers","following_url":"https://api.github.com/users/cece-132/following{/other_user}","gists_url":"https://api.github.com/users/cece-132/gists{/gist_id}","starred_url":"https://api.github.com/users/cece-1[...]
